/* Estilos específicos para el tema claro */
body.light-theme {
    background-color: #f5f5f5;
    color: #333;
  }
  
  /* Estilos específicos para el tema oscuro */
  body.dark-theme {
    background-color: #333;
    color: #f5f5f5;
  }
  